body
{
  color: white;
  background: rgb(224, 34, 34);
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name_2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading
{
  border-radius: 10px;
  font-size: 18px;
  letter-spacing: 10px;
}
label
{
font-size: 14px;
color:rgb(81, 182, 212);
padding:6px;
border-radius: 10px;
background-color: white;
}